<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <title>it can convert to ejs</title>
</head>
<body>
    <nav id="first">
        <ul>
            <li><a href="/"><i class="fa-regular fa-calendar-days"></i>Today</a></li>
            <li><a href="/workList"><i class="fa-regular fa-copy"></i>Work</a></li>
        </ul>
    </nav>
    
    <p id="second"><%= nameType %></p>
    <% for(var i = 0; i < tasks.length; i++){ %>
        <div class="third">
            <input type="checkbox">
            <p id="task-name"><%= tasks[i] %></p>
        </div>
    <% } %>

    <form action=<%= actionPost %> method="post" id="fourth">
        <input type="text" placeholder="New Item" name="taskName">
        <button>+</button>
    </form>
</body>
</html>