body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #f8f8f8;
}

ul {
    line-height: 1.6em;
}

table {
    border-spacing: 0;
}

td, th {
    padding: 5px 30px 5px 10px;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;

}

th {
    text-align: left;
}

tr.head th {
    background-color: #90b4d6;
    text-align: center;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    letter-spacing: 0.15em;
}

tr.odd {
    background-color: #e0e9f0;
}

tr.even {
    background-color: #e8eff5;
}

form{
    margin-top: 20px;
}


