
body{
  width: 100hw;
}
ul {
  list-style-type: none;
}
li {
  padding: 20px;
  padding-left: 5px;
  border: 2px solid grey;
  margin-bottom: 10px;
}

.active{
  background-color: blue;
}

button{
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: blue;
}

#message{
  border: solid 1px grey;
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  background-color: rgb(158, 158, 206, 0.6);
  margin-bottom: 20px;
}

#close{
  color: red;
}